header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding: 40px 0px 0px 40px;
}

.name {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 60px;
}

.navbar-brand {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    margin-left: 2%;
}

.navbar-nav {
    margin-left: 70%;
}

.btn {
    margin-right: 5%;
    padding: 20px;
}

body {
    background: #ffefcd;
}

#content-card {
    background-color: white;
    border: 2px solid black;
    margin: auto;
    width: 60%;
    min-width: fit-content;
    max-height: 450px;
    box-shadow: 10px 5px 0px black;
    margin-top: 6%;
}

.homepage-card {
    background-color: white;
    border: 2px solid black;
    margin: auto;
    width: 60%;
    min-width: fit-content;
    max-height: 450px;
    box-shadow: 10px 5px 0px black;
    margin-top: 6%;
}

.writing {
    background-color: white;
    border: 2px solid black;
    margin: 15%;
    min-width: fit-content;
    max-height: fit-content;
    box-shadow: 10px 5px 0px black;
    margin-top: 7%;
    padding: 5% 8% 8% 8%;
}

.writing h1 {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 55px;
    padding: 0 0 15px 0;
}

.writing h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0;
}

.writing p {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

body .other-pages {
    margin-top: 10%;
}

.contacts {
    padding: 35px 0 0 15px;
}

.homepage-image {
    width: 20rem;
    position: relative;
    top: -14rem;
    left: -6rem;
}

.homepage-card h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 68.5px;
    text-align: center;
    padding: 175px;
}

.directory {
    margin: 80px;
    width: 75%;
    margin: auto;
    margin-top: 11%;
    margin-bottom: 13%;
}

.card {
    border: 3px solid black;
    box-shadow: 7px 7px 0px 0px black;
    height: 100%;
}

.card a {
    text-align: center;
}

.card img:hover {
    width: 50%;
    margin: 15% auto 5% auto;
}

.card .img-2:hover {
    width: 60%;
    margin: 10% auto 5% auto;
}

.card img:active {
    width: 40%;
    margin: 20% auto 10% auto;
}

.card .img-2:active {
    width: 50%;
    margin: 15% auto 10% auto;
}

.img-1 {
    width: 40%;
    margin: 20% auto 10% auto;
}

.img-2 {
    width: 50%;
    margin: 15% auto 10% auto;
}

.img-3 {
    width: 40%;
    margin: 20% auto 10% auto;
}

.section-header {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 55px;
    margin-bottom: 30px;
}

.directory h5 {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    text-align: center;
}

.directory p {
    font-size: large;
    text-align: center;
}